<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #4d1c31;">About</h2>
        <hr class="star-primary" >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p style="color: #4d1c31;">Hello! I'm Tomas, and I welcome you to my website. I have a passion for problem-solving, grounded in a background of Physics, Mathematics, and Consumer Research.</p>
      </div>
      <div class="col-lg-4">
        <p style="color: #4d1c31;">This website was mainly created through trial and error, as my HTML, JavaScript, and web development skills are self-taught, with the help of online forums and a dash of AI.</p>
      </div>
    </div>
  </div>
</section>
